<div class="img">

  <div class="CuadritoInfoCita">
    <div class="eslogan">
      <label style="color: white; font-size: 65px; line-height: 1; letter-spacing: 8px;">
        ASEGURA TU<br><span style="color: rgba(254, 51,51, 100%);">CAMINO</span>
      </label>
    </div>
    <div class="divGenerarCita">
      <button (click)="login()">GENERA UNA CITA <i class='bx bx-right-arrow-alt'></i></button>
    </div>
  </div>
</div>

<section style="text-align: center;">
  <label>MARCAS QUE NOS RESPALDAN</label>
  <div class="divSection">
    <li>
      <img src="/assets/Marca1.png">
    </li>
    <li>
      <img src="/assets/Marca2.png">
    </li>
    <li>
      <img src="/assets/Marca3.png">
    </li>
    <li>
      <img src="/assets/Marca4.png">
    </li>
    <li>
      <img src="/assets/Marca5.png">
    </li>
  </div>
</section>

<footer class="footer1">
  <div class="divFooter1">
    <h2 style="color:white; font-size: 48px; text-align: end;">SOMOS AAA</h2>
  </div>

  <div class="divFooter2">
    <h3>Ubicación</h3><br>
    <h4>Av. Siglo XIX #101 A, Lomas de Santa Anita,Aguascalientes, Aguascalientes Mexico</h4><br>
  </div>

  <div class="divFooter4">
    <div class="divFooter5">
      <h3>Teléfono</h3><br>
      <h4>449 975 01 28</h4>
    </div>
    <div class="divFooter5">
      <h3>Síguenos</h3>
      <div class="social-links">
        <a style="color: white; font-size: 20px; display: flex; align-items: center;">
          <i style="color:white; font-size: 40px;" class='bx bxl-facebook-circle'></i>
          Taller AAA
        </a>
        <a style="color: white; font-size: 20px; display: flex; align-items: center;">
          <i style="color:white; font-size: 40px;" class='bx bxl-instagram'></i>
          AAAsomos
        </a>
      </div>
    </div>

  </div>
</footer>