<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>



<nav class="main-menu">



  <div>
    <h4>AAA</h4>
    
  </div>
  <div class="settings"></div>
  <div class="scrollbar" id="style-1">

    <ul>

      <li>
        <a href="/home">
          <img src="/assets/home.png" alt="" srcset="">
          <span class="nav-text">Home</span>
        </a>
      </li>

          <span class="nav-text">
          </span>

        

      




      
      <li class="darkerlishadow">
        <a href="/directorio">
          <img src="/assets/directorio.png" alt="" srcset="">
          <span class="nav-text">DIRECTORIO</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/citas">
          <img src="/assets/citas.png" alt="" srcset="">
          <span class="nav-text">CITAS</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/servicios">
          <img src="/assets/servicios.png" alt="" srcset="">
          <span class="nav-text">SERVICIOS EN CURSO</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/cotizaciones">
          <img src="/assets/cotizaciones.png" alt="" srcset="">
          <span class="nav-text">COTIZACIONES</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/inventario">
          <i class="fa fa-microphone fa-lg"></i>
          <span class="nav-text">INVENTARIO</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/proveedores">
          <i class="fa fa-flask fa-lg"></i>
          <span class="nav-text">PROVEEDORES</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/administracion">
          <i class="fa fa-picture-o fa-lg"></i>
          <span class="nav-text">ADMINISTRACIÓN</span>
        </a>
      </li>

      <li class="darkerli">
        <a href="/profile">
          <i class="fa fa-align-left fa-lg"></i>
          <span class="nav-text">MI CUENTA
          </span>
        </a>
      </li>

      


   

    <ul class="logout">
      <li>
        <a href="" (click)="salir()">
          <i class="fa fa-lightbulb-o fa-lg"></i>
          <span class="nav-text">
            SALIR
          </span>

        </a>
      </li>
    </ul>
