<div id="mainCoantiner">
  <!--dust particel-->
  <div class="margin-body">

    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <div class="title-h1 text-center"><span class="light" style="color:crimson;">Servicios</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"><img width="95%" src="/assets/SerDiagnosticos.png"></div>
                <!-- <div class="time">Per Month</div> -->
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Diagnosticos</div>
          </div>
          <figure class="pricing-row">Escaneo y diagnóstico de códigos de falla.</figure>
          <figure class="pricing-row">Pruebas de funcionamiento del motor y sistemas.</figure>
          <figure class="pricing-row">Diagnóstico de problemas eléctricos y electrónicos.</figure>
          <figure class="pricing-row">Evaluación de sistemas de frenos y suspensión.</figure>
          <figure class="pricing-row">Inspección de sistemas de escape y emisiones.</figure>
          <!-- <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a href="#" class="gem-button gem-green">order
                now</a></div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"><img width="95%" src="/assets/SerMotores.png"></div>
                <!-- <div class="time">Per Month</div> -->
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">De Motores</div>
          </div>
          <figure class="pricing-row">Reparación y reconstrucción de motores.</figure>
          <figure class="pricing-row">Ajuste de válvulas y sincronización.</figure>
          <figure class="pricing-row">Reparación de fugas de aceite y refrigerante.</figure>
          <figure class="pricing-row">Cambio de bujías y cables de encendido.</figure>
          <figure class="pricing-row">Limpieza y mantenimiento de inyectores de combustible.</figure>
          <!-- <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-purpel">order now</a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"><img width="95%" src="/assets/SerTransmision.png"></div>
                <!-- <div class="time">Per Month</div> -->
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">De Transmisión</div>
          </div>
          <figure class="pricing-row">Servicio de transmisión automática (cambio de aceite y filtro).</figure>
          <figure class="pricing-row">Reparación de transmisiones manuales y automáticas.</figure>
          <figure class="pricing-row">Sincronización y ajuste de la transmisión.</figure>
          <figure class="pricing-row">Diagnóstico y reparación de fugas de líquido de transmisión.</figure>
          <figure class="pricing-row">Reemplazo de embragues y convertidores de par.</figure>
          <!-- <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center">
              <a class="gem-button gem-orange">order now</a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"><img width="95%" src="/assets/SerPreventivos.png"></div>
                <!-- <div class="time" style="display:inline-block;">Per Month</div> -->
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Preventivo</div>
          </div>
          <figure class="pricing-row">Cambio de aceite y filtro.</figure>
          <figure class="pricing-row">Inspección y reemplazo de correas y mangueras.</figure>
          <figure class="pricing-row">Alineación y balanceo de ruedas.</figure>
          <figure class="pricing-row">Cambio de líquidos (refrigerante, frenos, dirección asistida, etc.).</figure>
          <figure class="pricing-row">Inspección de frenos y reemplazo de pastillas y discos.</figure>
          <!-- <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-yellow">order now</a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-3 col-md-3 pricing-column-wrapper">
        <div class="pricing-column">
          <div class="pricing-price-row">
            <div class="pricing-price-wrapper">
              <div class="pricing-price">
                <div class="pricing-cost"><img width="95%" src="/assets/SerMantenimientos.png"></div>
                <!-- <div class="time" style="display:inline-block;">Per Month</div> -->
              </div>
            </div>
          </div>
          <div class="pricing-row-title">
            <div class="pricing_row_title">Mantenimiento</div>
          </div>
          <figure class="pricing-row">Servicio completo de mantenimiento programado.</figure>
          <figure class="pricing-row">Rotación de neumáticos.</figure>
          <figure class="pricing-row">Inspección y ajuste de sistemas de dirección y suspensión.</figure>
          <figure class="pricing-row">Limpieza y ajuste de frenos.</figure>
          <figure class="pricing-row">Inspección general de vehículos y recomendaciones de mantenimiento.</figure>
          <!-- <div class="pricing-footer">
            <div class="gem-button-container gem-button-position-center"><a class="gem-button gem-yellow">order now</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>